{{setVar "head"

"
<link href='https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css' rel='stylesheet' type='text/css'>
<link href='/assets/css/modal.css' rel='stylesheet' type='text/css'>

"

}}
{{setVarIter "scripts" "
<script src='/assets/js/simple-datatable.js' type='text/javascript'></script>

"

}}

{{setVar "title" "Users Page "}}
{{setVar "user" "Admin"}}
<section>
    <h2>{{title}}</h3>
        <form>
            <input type="button" class="darkBlueBtn" value="Create User" onclick="createUser(this)">
        </form>
        <br>
        <br>
        <div id="table-area" style="width: 100%;"></div>
</section>
<div class="modal-area"></div>





{{setVarIter "scripts" '<script src="/assets/js/user_index.js"></script>'}}
