{{setVar "head"

"
<link href='https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css' rel='stylesheet' type='text/css'>
<link href='/assets/css/modal.css' rel='stylesheet' type='text/css'>

"

}}

{{setVarIter "scripts" "
<script src='/assets/js/simple-datatable.js' type='text/javascript'></script>

"

}}


{{setVarIter "scripts" '
<script src="/assets/js/idea.js"></script>'}}

{{setVarIter "scripts" '
<script src="/assets/js/event_index.js"></script>'}}

{{setVar "title" "View Ideas Data Page "}}


<br>
<br>
<form>
    <input type="button" class="darkBlueBtn" value="Create New Events" onclick='createEventForm(this)'>
</form>
<table id="information">
    <thead>
        <tr>
            <th>Tags</th>
            <th>Idea Name</th>
            <th>Uploaded By</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td><i class="fa-regular fa-comments"></i></td>
            <td>lorem</td>
            <td>lorem</td>
            <td>
                <a href="javascript:viewIdeaForm(this)"><i class="fa-solid fa-edit"></i></a>
                <a href="/ideas/delete/1"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
    </thead>
</table>
<br>
<br>
<div id="table-area-event" style="width: 100%;">
</div>

<div class="modal-area"></div>

