{{setVar "head"

"
<link href='https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css' rel='stylesheet' type='text/css'>

"

}}
{{setVarIter "head" "
<script src='/assets/js/simple-datatable.js' type='text/javascript'></script>"

}}

{{setVar "title" "Users Page ABC"}}
{{setVar "user" "Guest"}}
<section>
    <h2>{{title}}</h3>
        <form>
            <input type="button" class="darkBlueBtn" value="Create User" onclick="createUser(this)">
        </form>
        <br>
        <br>
        <div id="table-area" style="width: 100%;">
        </div>
</section>
</section>

{{#> widgets/modal }}
{{#*inline "title"}}
    Update User
{{/inline}}
{{#*inline "content"}}
<form id="editForm">
    <div class="container">
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="User Name" id="username" name="name" required>
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="abc@email.com" name="email" id="email" required>
        <label for="DateOfBirth"><b>Date of Birth</b></label>
        <input type="date" id="DateOfBirth" name="DateOfBirth" required>
        <div style="width:200">
            <label for="department"><b>Department</b></label>
            <br>
            <select name="departments" class="selectedItem" id="departments" required>
            </select>
        </div>
        <div style="width:200">
            <label for="roles"><b>Roles</b></label>
            <br>
            <select name="roles" class="selectedItem" id="roles" required>
            </select>
        </div>
    </div>
</form>
{{/inline}}
{{#*inline "footer"}}
<button type="button" onclick="updateAccounts()" class="updateBtn">Update</button>
{{/inline}}
{{/ widgets/modal}}


{{#> widgets/modal}}
{{#*inline "title"}}
Create User
{{/inline}}
{{#*inline "content"}}
<form id="createForm">
    <div class="container">
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="User Name" id="username" name="name" required>
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="abc@email.com" name="email" id="email" required>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="User Password" name="password" id="password" required>
        <label for="confirmPassword"><b>Confirm Password</b></label>
        <input type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" required>
        <label for="DateOfBirth"><b>Date of Birth</b></label>
        <input type="date" id="DateOfBirth" name="DateOfBirth" required>
        <div style="width:200">
            <label for="department"><b>Department</b></label>
            <br>
            <select name="department" class="selectedItem" id="roles" required>
                <option value="1">IT</option>
            </select>
        </div>
        <div style="width:200">
            <label for="roles"><b>Roles</b></label>
            <br>
            <select name="roles" class="selectedItem" id="roles" required>
                <option value="1">Staff</option>
                <option value="2">Quality Assurance Coordinator</option>
                <option value="3">Quality Assurance Manager</option>
            </select>
        </div>
        <hr>
    </div>
</form>
{{/inline}}
{{#*inline "footer"}}
<button class="createBtn" type="submit" id="register">Create</button>
{{/inline}}
{{/ widgets/modal}}



{{setVarIter "scripts" '<script src="/assets/js/user_index.js"></script>'}}
